// TYPOGRAPH

body {
  font-family: $font-primary;
  font-size: 16px;
}

.title {
  font-family: 'Poppins', sans-serif;
  color: #fff;
  text-transform: uppercase;
  font-weight: 400;
  text-align: center;
  font-size: 1.15rem;
  margin-bottom: 1rem;

  &.-underlined:after {
    height: 5px;
    width: 90px;
    bottom: -1rem;
  }
}

.subtitle {
  font-family: 'Poppins', sans-serif;
  font-size: .85rem;
  text-align: center;
  color: #555;
  font-weight: 400;
  text-transform: uppercase;

  &.-underlined:after { 
    height: 2px;
    width: 50px;
    bottom: -.65rem;
  }
}

.title, .subtitle {
  &.-underlined {
    position: relative;
    text-align: center;
    margin-bottom: 3rem;

    &:after {
      content: '';
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      background-color: $light-blue;
    }
  }
}