// # COLORS
$white:  #f5f5f5;
$orange: #ce6011;
$red:    #e43232;


// # TYPOGRAPH
$title-size: 2.5rem;
$title-margin: 1.5rem;

// # font-family
$font-primary: 'Roboto', sans-serif;
$font-secondary:'Roboto Condensed', sans-serif;


// # CARDS
$card-padding: 1rem 2rem;

// --
$transition-bounce: cubic-bezier(.45,1.8,.5,.75);