<section class="section">
  <div class="form">

    <div class="group">
      <label>
        <input name="numberBase" value="bin" type="radio"> Binary
      </label>
      <label>
        <input name="numberBase" value="dec" type="radio"> Decimal
      </label>
      <label>
        <input name="numberBase" value="hex" type="radio"> Hexadecimal
      </label>
    </div>

    <input name="number" type="text" placeholder="Number..." disabled>

    <div class="group">
      <label>
        <input name="convertBase" value="bin" type="checkbox" disabled> Binary
      </label>
      <label>
        <input name="convertBase" value="dec" type="checkbox" disabled> Decimal
      </label>
      <label>
        <input name="convertBase" value="hex" type="checkbox" disabled> Hexadecimal
      </label>
    </div>

    <button class="js-convert">Convert</button>

  </div>
</section>