<% include ./partials/_head %>

<body class="ConverterApp ">

  <main class="main-wrapper converter">
    <% include ./layout/intro %>
    <% include ./layout/inputs %>
    <% include ./layout/result %>
  </main>
  
  <% include ./partials/_scripts %>

</body>
</html>
