// BUTTONS
$primary: #404040;
$fab-size: 64px;
$fab-pos: -$fab-size/2;

.btn {
  display: inline-block;
  vertical-align: middle;
  height: 40px;
  line-height: 40px;
  
  background-color: #fff;
  border-radius: 4px;
  border: 0;
  box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);

  color: #555;
  font-size: .9rem;
  font-weight: 300;
  text-decoration: none;
  white-space: nowrap;
  
  outline: 0;
  cursor: pointer;
  transition: all .25s ease;

  &:hover {
    color: #6e6e6e;
    transform: translateY(-1px);
    box-shadow: 0 7px 14px rgba(50, 50, 93, .1), 0 3px 6px rgba(0, 0, 0, .08);
  }

  &:active {
    color: #555;
    background-color: #f6f9ff;
    transform: translateY(1px);
    box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
  }
  
  &.-primary {
    background-color: $primary;
    color: #fff;
  }

  &.-fab {
    height: 45px;
    bottom: $fab-pos;
    border-radius: 50%;
    
    @include rectangle( $fab-size );
    @include center-h-absolute;

    &:hover {
      bottom: $fab-pos + 2px;
    }
    &:active {
      bottom: $fab-pos;
    }
  }
}

// ==========================================================================
._btn._btn--primary {
  background-color: $orange;
  border: 1px solid darken( $orange, 2.5% );
  color: #fff !important;

  &:hover {
    background-color: darken( $orange, 3% );
    border: 1px solid darken( $orange, 3% );
  }
}

._btn._btn--secondary {
  background-color: #222;
  border: 1px solid darken( #222, 2.5% );
  color: #fff !important;

  &:hover {
    background-color: lighten( #222, 3% );
    border: 1px solid lighten( #222, 3% );
  }
}