// FORM

.form {
  display: flex;
  flex-direction: column;
}

.form-group {
  flex: 1;

  &:not(:last-child) {
    margin-bottom: 1rem;
  }
}

.input {
  height: 35px;
  padding: 0.35rem 0 0 0;
  font-size: .85rem;
  border: 0;
  border-bottom: 1px solid #d8d8d8;
  outline: 0;

  &.-big {
    height: 45px;
    padding: 1rem 0 0 0;
    font-size: 1.05rem;
  }

  &.-centerd {
    text-align: center;
  }

  &:focus {
    border-color: #2fd5d6;
  }
}