.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;

  > .item {
    width: 40px;
    height: 40px;
    background-color: #222;

    &.-brand {
      background-color: #ccc;
    }
  }
}