.blog {

  > .wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
}

.blog-header {
  height: 40px;
}

.blog-content {
  flex-grow: 1;
  background-color: #eee;
}

//
.blog-nav {
  position: absolute;
}

//
.posts-list {
  @include center-flex;
  min-height: 100%;
  padding: 1rem .5rem;

  > .post {
    min-width: 200px;
    min-height: 200px;
  }
}

.posts-controls {
  display: flex;
  height: 50px;

  > .control {
    flex: 1 50%;
  }
}

.tags-list {
  display: flex;
}

.tag {
  font-size: .7rem;
  background-color: #aaa;
  color: #fff;
  padding: .15rem .35rem;

  margin-left: .5rem; //remove
}

.blog-sidenav {
  min-width: 200px;
  min-height: 100vh;
  margin-left: -200px;
}